*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  overflow-x: hidden;
}

nav{
  padding: 20px;
}

nav div{
  display:flex;
  justify-content: center;
}

nav a,
nav a:hover{
  text-decoration: none;
  margin-right: 10px;
  color: black;
}

h1{
  text-align: center;
  font-size: 50px;
}
h3{
  text-align: center;
  margin-bottom: 20px;
}
#list-wrapper{
  height: 300px;
  overflow-y:scroll;
}
#add-todo{
  width: 50%;
  margin: 0 auto;
  padding: 2rem;
  background-color: #eee;
}

#add-todo label{
  display: block;
  margin: 10px 0;
}

#add-todo label span{
  color: red;
}

#add-todo input,
#add-todo select{
  width: 100%;
  font-size: 25px;
  padding: 5px 5px 5px 10px;
  margin-bottom: 20px;
}

#submit{
  text-align: center;
  padding: 0;
  margin: 10px 0 0 0;
}

#submit button{
  width: 50%;
  padding: 10px;
  font-size: 16px;
}

.todo-item{
  padding: 20px;
  width: 50%;
  margin: 10px auto;
  transition: all .2s ease-out;
}

.todo-item .todo-text{
  font-weight: bold;
  font-size: 40px;
  text-align: left;
  margin: 0;
  padding: 0;
}

.todo-item .createdAt{
  text-align: left;
  margin-bottom: 0;
}

.todo-item button{
  border:none;
  outline: none;
  background-color: transparent;
  font-size: 30px;
}

.todo-item .cross{
  font-size: 35px;
  margin-right: 20px;
}

.todo-item .pencil{
  transform: rotateZ(180deg);
  margin-left: 20px;
}

.todo-item label{
  display: block;
  margin: 5px 0 10px 0;
  padding: 0;
}
.todo-item input{
  margin-top: 0;
  padding: 5px 5px 5px 10px;
  font-size: 25px;
}

.todo-item .update,
.todo-item .cancel{
  font-size: 16px;
  outline: 1px solid black;
  width: 85px;
  padding: 5px;
}

.todo-item .update{
  margin-right: 5px;
}
.todo-item .cancel{
  margin-left: 5px;
}

.hideOnLoad{
  display: none;
}

.hideOnLoad p{
  margin-top: 10px;
}

/* ===================== about page starts here ================= */

#points{
  width: 80%;
  margin: 0 auto;
}
#points h2{
  margin: 40px 0 10px;
}

code pre{
  font-size: 20px;
  padding: 20px 0;
  overflow-wrap: break-word !important;
}

/* ===================== about page ends here ================= */



@media screen and (max-width: 425px){
  h1{
    font-size: 30px;
  }
  h3{
    font-size: 15px;
  }
  #add-todo,
  .todo-item{
    width: 95%;
  }
  code pre{
    font-size: 12px;
    margin-left: -30px;
  }
}